

body{
  background-color: #E9EBEE;
}

#my-nav{
  color: white;
  background-color: #4267b2;
}
#my-nav a {
  color: white !important;
}
.added-width {
  min-width: 400px;
}
#darker-color span {
  color: #0D1325 !important;
  font-size: 20px;
  margin: 0 3px 0 3px;
}
.side-bar{
  background-color: #E9EBEE;
  margin-top: 70px;
  margin-left: -50px;
}
.material-icons{
  font-size: 20px;
  color: #0D1325;
}
.color{
  color:red;
  margin-left: -5px;
}
.colour{
  color:red;
}
.footer{
  height:42px;
  background-color: #0f0f0f;
}
.list-heading{
  padding: 20px 15px 0 15px;
}
.hei{
  height: 10px;
}
.post-section, .ads{
  margin-top: 70px;

  overflow: scroll;
}
.badge{
  margin-right: 50px;
}
#brand{
  color: white;
}
#facebook-icon{
  margin-left: 50px;
  font-size: 25px;
  margin-top: -2px;
}
.photo{
  border-radius: 50%;
  height: 30px;
  width:30px;
  margin-right: 2px;
  margin-left: -10px;
}
.photoo{
  border-radius: 50%;
  height: 18px;
  width:18px;
  margin-right: 10px;
  margin-left: -3px;
}
.fa{
  margin-right: 10px;
  font-size: 30px;
}
.images{
  border-radius: 50%;
  height:35px;
  width:35px;
  margin-right: 10px;
  margin-left: -3px;
}
.post-section::-webkit-scrollbar {
  display: none;
}
.ads::-webkit-scrollbar {
  display: none;
}
.panel{
  margin-bottom: 8px;
}
.pull-right{
  float: right !important;
}
.panel-body .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
}
.panel-title{
  margin-top: 20px;
}
.image-post{
  margin-bottom: 5px;
}
.icons{
  margin-left: 5px;
}
.comment-box{
  width:100% ;
  border-radius: 10px;
  height: 32px;
  color: grey;
  border: 0;
}
.comment-box:focus{
  border: none !important;
  box-shadow: none !important;
  outline: none;
}
