

body{
  background-color: #E9EBEE;
}
#my-nav{
  color: white;
  background-color: #4267b2;
}

#my-nav a {
  color: white !important;
}
.added-width {
  min-width: 400px;
}
#darker-color span {
  color: #0D1325 !important;
  font-size: 20px;
  margin: 0 3px 0 3px;
}
.down{
  margin-top: 20px;
}
.footer{
  height:42px;
  background-color: #0f0f0f;
}
.list-heading{
  padding: 20px 15px 0 15px;
}
.post-section, .ads{
  margin-top: 70px;
  height: 1050px;
  overflow: scroll;
}

.post-section::-webkit-scrollbar {
  display: none;
}
.ads::-webkit-scrollbar {
  display: none;
}
.panel{
  margin-bottom: 8px;
}
.panel-body .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
}
.panel-title{
  margin-top: 20px;
}
.image-post{
  margin-bottom: 5px;
}
